/target
/bakerd/usr/bin/bakerd

# Ignore the Debian package.
bakerd.deb

# Ignore the dev database.
data.db

# Ignore the code coverage report.
tarpaulin-report.html

# Ignore the secret file.
secret.txt
