Package: bakerd
Version: 0.2.3
Section: development
Priority: optional
Architecture: all
Depends:
Maintainer: gaylor.bosson@gmail.com
Description: Baker daemon
 Runs a web service to provide status about a baker node.
